services:
  db:
    image: mysql:8.0
    container_name: homefinder_db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: .
    container_name: homefinder_api
    restart: always
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DB_HOST=db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  db_data: